ipxact-1.2/looseGeneratorChanges.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Celia Woods (ARM Ltd) -->
<!--
// Description : looseGeneratorChanges.xsd
// Author : SPIRIT Schema Working Group
// Version:     $Revision: 277 $
// Date:        $Date: 2005-12-21 16:04:38 -0600 (Wed, 21 Dec 2005) $
// Tag:         $Name$
//
// Copyright (c) 2005 SPIRIT.  All rights reserved.
// www.spiritconsortium.com
//
// THIS WORK FORMS PART OF A SPIRIT CONSORTIUM SPECIFICATION.
// THIS WORK CONTAINS TRADE SECRETS AND PROPRIETARY INFORMATION
// WHICH IS THE EXCLUSIVE PROPERTY OF INDIVIDUAL MEMBERS OF THE
// SPIRIT CONSORTIUM. USE OF THESE MATERIALS ARE GOVERNED BY
// THE LEGAL TERMS AND CONDITIONS OUTLINED IN THE SPIRIT
// SPECIFICATION DISCLAIMER AVAILABLE FROM
// www.spiritconsortium.org
-->
<xs:schema xmlns:spirit="http://www.spiritconsortium.org/XMLSchema/SPIRIT/1.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spiritconsortium.org/XMLSchema/SPIRIT/1.2" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:include schemaLocation="file.xsd"/>
	<xs:include schemaLocation="subInstances.xsd"/>
	<xs:element name="addRemRepChange">
		<xs:annotation>
			<xs:documentation>Indicates whether the alteration is an addition, removal or a replacement</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="add"/>
				<xs:enumeration value="remove"/>
				<xs:enumeration value="replace"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="addRemChange">
		<xs:annotation>
			<xs:documentation>Indicates whether the alteration is an addition or a removal</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="add"/>
				<xs:enumeration value="remove"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="generatorChangeList">
		<xs:annotation>
			<xs:documentation>Defines the changes to be made to the design as directed by an external generator.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="componentChanges" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of changes affecting components in the design.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="componentChange" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="spirit:addRemRepChange"/>
										<xs:element ref="spirit:instanceName"/>
										<xs:element name="componentFileName" type="spirit:spiritURI" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This is the file containing the component definition. Required only if the alteration is an addition or a replacement. Should be an absolute filename so that the DE may copy it.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="subComponents" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Required only for hierarchical components. Holds the hierarchical component's sub-component definition files.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="subComponentFileName" type="xs:anyURI" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Path to definitions of components and channels instanced in hierarchical component definition.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element ref="spirit:configuration" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="interconnectionChanges" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of changes affecting interconnections in the design.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="interconnectionChange" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="spirit:addRemChange"/>
										<xs:choice>
											<xs:element ref="spirit:interconnection"/>
											<xs:element ref="spirit:monitorInterconnection"/>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="adHocConnectionChanges" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of changes affecting ad-hoc connections in the design.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="adHocConnectionChange" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="spirit:addRemChange"/>
										<xs:element name="name" type="xs:string">
											<xs:annotation>
												<xs:documentation>This is the name of the ad-hoc connection to modify</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="export" default="false" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Specifies whether this ad-hoc connection will be exported out of the design.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:boolean">
														<xs:attributeGroup ref="spirit:bool.prompt.att"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="pinReference" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Indicates the signal on the component which is being connected by this ad-hoc connection</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="componentRef" type="xs:Name" use="required">
													<xs:annotation>
														<xs:documentation>This is the instance name of the component</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="signalRef" type="xs:Name" use="required">
													<xs:annotation>
														<xs:documentation>The name of the signal on the component</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="left" type="xs:nonNegativeInteger" default="0">
													<xs:annotation>
														<xs:documentation>If present, this is the left index of the signal</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="right" type="xs:nonNegativeInteger" default="0">
													<xs:annotation>
														<xs:documentation>If present, this is the right index of the signal</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="designConfigurationChanges" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of changes affecting the configuration of the design.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="pmdConfigurationChange" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Contains the configurable information associated with a particular PMD</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="spirit:addRemRepChange"/>
										<xs:element name="pmdRef" type="spirit:libraryRefType">
											<xs:annotation>
												<xs:documentation>References a PMD.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="spirit:configurableElement" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="generatorChainConfigurationChange" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Contains the configurable information associated with a generatorChain and its generators. Note that configurable information for generators associated with components is stored in the design file.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="generatorChainRef" type="spirit:libraryRefType">
											<xs:annotation>
												<xs:documentation>References a generatorChain.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="generatorChainChange" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="spirit:addRemRepChange"/>
													<xs:element ref="spirit:configurableElement" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="generatorChange" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Stores configurable information for generators referenced in the chain</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="spirit:addRemRepChange"/>
													<xs:element name="generatorName" type="xs:string">
														<xs:annotation>
															<xs:documentation>This identifies the generator in the chain.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="spirit:configurableElement" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="viewConfigurationChange" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Contains the active view for each instance in the design</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="spirit:addRemRepChange"/>
										<xs:element ref="spirit:instanceName"/>
										<xs:element name="viewName" type="xs:NMTOKEN">
											<xs:annotation>
												<xs:documentation>The name of the active view for this instance</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="vendorExtensionChanges" minOccurs="0">
								<xs:annotation>
									<xs:documentation>List of changes affecting vendor defined extensions in the design.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="vendorExtensionChange" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="spirit:addRemChange"/>
													<xs:element ref="spirit:vendorExtensions"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="vendorExtensionChanges" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of changes affecting vendor defined extensions in the design.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="vendorExtensionChange" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="spirit:addRemChange"/>
										<xs:element ref="spirit:vendorExtensions"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
